extends /layouts/application.pug

block content
  if isSignedIn()
    p.text-center Get started by creating a task
  else
    p.greetings.text-center
      | Hello! 
      | Please register and log in
