- const getInputName = (f, property) =>  `${f.name}[${property}]`

mixin formFor(f, options = {})
  - const url = _.get(options, 'url');
  - const method = _.get(options, 'method', 'get').toLowerCase;
  - const isStandart = _.includes(['get', 'post'], method);
  form(action= url method= isStandart ? method : 'post')
    if !isStandart
      input(name='_method' type='hidden' value= method)
    block
      
mixin input(f, property, options = { as: 'text'})
  - const value = f.object[property] === undefined ? '' : f.object[property]
  
