extends /layouts/application.pug

block content
  if isSignedIn()
    .row.d-flex
      .col-lg-2.text-center
        .list-group.text-md-left
          a.list-group-item.border-1.d-inline-block.bg-ligth.text-dark(href= urlForRouter('newTask'))            
            span.d-none.d-md-inline New Task
          a.list-group-item.border-1.d-inline-block.bg-ligth.text-dark(href= urlForRouter('tasks','', { query: { meTask: 'yes' } }))            
            span.d-none.d-md-inline Me Tasks
          a.list-group-item.border-1.d-inline-block.bg-ligth.text-dark(href= urlForRouter('statuses'))
            span.d-none.d-md-inline Statuses
      .col-lg-10.border-1
        p.text-center Edit task, created by 
          span.text-info #{f.object.creator.fullName}
        +formFor(f, { url: urlForRouter('editTaskPatch', f.object.id), method: 'patch' })
          .row.d-flex
            .col-lg-10
              +input(f, 'name')
              +textarea(f, 'description')
              +select(f, 'status', data.statuses, 'name')
              +select(f, 'assigned', data.users, 'fullName')
              +button('Save')
            .col-lg-2.bg-ligth.text-rigth
              ul.list-group.border-1.d-flex
                span.list-group-item.text-center Tags:
                each tag in f.object.tags
                  li.list-group-item.text-center.text-info #{tag.name}
            
