extends /layouts/application.pug

block content
  if isSignedIn()
    .row.d-flex
      .col-md-2.float-left.text-center
        .list-group.card.text-md-left
          a.list-group-item.border-1.d-inline-block.bg-ligth.text-dark(href='/tasks/new')            
            span.d-none.d-md-inline New Task
          a.list-group-item.border-1.d-inline-block.bg-ligth.text-dark(href=`/tasks/users/${userId}`)            
            span.d-none.d-md-inline Me Tasks
      .col-md-8.border-1
        table.table.table-striped.table-bordered.rounded.jumbotron
            thead.thead-dark
              tr
                th Name
                th Assigned To
                th Status
                th Creator
            tbody
              if tasks.length === 0
                tr
                  td.text-center(colspan='4') You have not tasks!
              esle
                each task in tasks
                  tr          
                    td
                      a(href=`/tasks/${task.id}`)= task.name
                    td
                    td= task.status.name
                    td= task.creator.fullName
      .col-md-2.float-left.bg-ligth
        .list-group.border-1.d-flex
          span.list-group-item.text-center Filters:
          form(action='/tasks/filter' method='post')
            .form-group.list-group-item.d-inline-block
              label Name
              input.form-control(name='name' type='text')
            .form-group.list-group-item.d-inline-block
              label Tags
              input.form-control(name='tags' type='text')
            .form-group.list-group-item.d-inline-block
              label Satus
              input.form-control(name='status' type='text')
            .form-group.list-group-item.d-inline-block
              label Assignet
              input.form-control(name='assignedTo' type='text')
            .form-group.list-group-item.text-center
              input.btn.btn-primary(type='submit' value='Search')
