extends /layouts/application.pug

block content
  .d-flex.justify-content-center
    .col-6.flex-fill
      +formFor(f, { url: urlForRouter('session'), method: 'post'})
        +input(f, 'email')
        +input(f, 'password', { as: 'password' })
        +button('Lod In')
