extends /layouts/application.pug

block content
  +formFor(f, { url: urlForRouter('session'), method: 'post'})
    +input(f, 'email')
    +input(f, 'password', { as: 'password' })
    +button('Lod In')
