extends /layouts/application.pug

block content
  +formFor(f, { url: urlForRouter('editUserPatch', userId), method: 'patch' })
    +input(f, 'email')
    +input(f, 'firstName')
    +input(f, 'lastName')
    +button('Edit')    
