extends /layouts/application.pug

block content
  table.table.table-stripped
    thead
      tr
        th Full name
        th Email
        th Create At
    tbody
      each user in users
        tr
          td= user.fullName
          td= user.email
          td= user.createdAt
