extends /layouts/application.pug

block content
  p.text-center Create new user
  +formFor(f, { url: urlForRouter('users'), method: 'post' })
    +input(f, 'email')
    +input(f, 'firstName')
    +input(f, 'lastName')
    +input(f, 'password', { as: 'password' })
    +button('Save')
